.default{
    &-layout {
        padding-top: 10%;
        width: min(1400px, 90%);
        margin: 0 auto;
        display: flex;
        gap: 3%;
        position: relative;
    }

    &-left {
        width: 18%;
    }

    &-right {
        width: 77%;
    }
}


@media screen and ( max-width: 900px ) {
    .default {
        &-layout {
            padding-top: 0px;
            display: block;
            width: 100%;
        }

        &-left {
            padding-top: 95px;
            width: 100%;
        }

        &-right {
            width: min(1400px, 90%);
            margin: 0 auto;
        }
    }
}