@import "../../variable.scss";

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;

    .left {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        
        .block {
            width: 100%;
            height: 60px;
            background-color: $base-color;
            border-radius: 15px;

            &:hover {
                background-color: $highlight-color;
    
                a {
                    color: white;
                }
            }
            
            a {
                font-size: 16px;
                color: $primary-color;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 20px;

                i {
                    padding-right: 15px;
                    font-size: 20px;
                }
            }

            .small {
                display: none;
            }
        }
    }

    .right{
        // width: 50%;
        width: calc(50% - 10px);


        form {
            width: 100%;

            h1 {
                color: $primary-color;
                font-size: 28px;
                padding-bottom: 15px;
            }

            .field {
                width: 100%;
                height: 40px;
                border: 1.5px solid $highlight-color;
                border-radius: 10px;
                padding: 10px;
                color: $primary-color;
                font-size: 18px;

                &.message {
                    min-height: 200px;
                    resize: vertical;
                }
            }

            .error-message {
                font-size: 14px;
                height: 16px;
                line-height: 16px;
                margin: 5px 0;
            }

            .invalid {
                .field {
                    border: 1.5px solid rgb(187, 2, 2);
                    color: rgb(187, 2, 2);
                }

                .error-message {
                    color: rgb(187, 2, 2);
                }
            }

            .submit {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 200px;
                    padding: 5px 10px;
                    background-color: transparent;
                    color: $highlight-color;
                    border: 1.5px $highlight-color solid;
                    border-radius: 10px;
                    
                    &:hover {
                        background-color: $highlight-color;
                        color: white;
                        border: 1.5px white solid;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 900px ) {
    .contact {
        display: block;

        .left {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 45px;
            padding-bottom: 30px;

            .block {
                width: auto;

                a {
                    display: none;

                    &.small {
                        display: flex !important;
                        width: 60px;
                        padding: 0;
                        align-items: center;
                        justify-content: center;

                        i {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .right {
            width: 100%;

            form {
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .input-box {
                    width: 100%;
                }
            }
        }
    }
}