@import "../../variable.scss";

.home-section {
    position: relative;
    margin-bottom: 15%;

    .home-background {
        position: absolute;
        width: 440px;
        height: 440px;
        background-color: $base-color;
        z-index: 0;
        border-radius: 100%;

        bottom: 0;
        left: 8%;
    }

    .home-content {
        position: relative;
        z-index: 10;

        padding-left: 30%;

        .home-content-top {
            font-size: 35px;
            font-weight: 500;
        }

        .home-content-main {
            padding-top: 30px;

            h1 {
                font-size: 160px;
                font-weight:900;
            }

            h2 {
                font-size: 70px;
                font-weight:800;
                color: $primary-color;
                letter-spacing: 8px;
            }

            &.column {
                display: flex;
                gap: 45px;
            }
        }

        .home-navigate {
            padding-top: 35px;
            display: flex;
            align-items: center;
            gap: 40px;

            a {
                font-size: 20px;
                color: black;
                font-weight: 500;
                text-decoration: underline dashed 1.2px black; 
                
                &:hover {
                    color: $primary-color;
                    text-decoration: underline dashed 1.2px $primary-color; 
                }
            }
        }

        .home-icon {
            padding-top: 15px;
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                font-size: 28px;
                color: $primary-color;
                &:hover {
                    color: $highlight-color;

                    & ~ div {
                       width: 60%;
                       background-color: $highlight-color; 
                    }
                }
            }

            div {
                width: 30%;
                height: 1.2px;
                background-color: $primary-color;
                transition: all 0.3s ease;
            }
        }

        .home-scroll {
            padding-top: 10px;

            a {
                font-size: 16px;
                color: $gray-color;
            }

            .arrow {
                display: inline-block;
                margin-left: 8px;
                animation: bounce 1.5s infinite;
            }
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(7px);
    }
    60% {
        transform: translateY(2px);
    }
}            @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(7px);
    }
    60% {
        transform: translateY(2px);
    }
}

@media screen and ( max-width: 1330px ){
    .home-section {
        .home-content {
            padding-left: 27%;

            .home-content-top p {
                font-size: 30px;
            }

            .home-content-main {
                padding-top: 25px;

                h2 {
                    font-size: 60px;
                }

                h1 {
                    font-size: 140px;
                }
            }
        }

        .home-background {
            width: 390px;
            height: 390px;
        }
    }
}

@media screen and ( max-width: 1100px ) {
    .home-section {
        .home-content {
            padding-left: 25%;

            .home-content-top p {
                font-size: 25px;
            }

            .home-content-main {
                padding-top: 25px;

                h2 {
                    font-size: 50px;
                }

                h1 {
                    font-size: 120px;
                }
            }
        }

        .home-background {
            width: 350px;
            height: 350px;
        }
    }
}

@media screen and ( max-width: 900px ) {
    .home-section {
        margin-bottom: 5%;
        margin-top: 50px;
    }
}