$primary-font: 'Montserrat', sans-serif;
// $primary-font: 'Roboto', sans-serif;
$primary-color: #1055cc;
$highlight-color: #137ffd;
$base-color: #b1d3fa;
$gray-color: #F4F4F4;
$button-color: #D9D9D9;